<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <title>web site</title>
        <link href="/ui/css/lib/bootstrap.min.css" rel="stylesheet"/>
        <link href="/ui/icons/bootstrap-icons/bootstrap-icons.css" rel="stylesheet"/>
        <link href="/ui/css/base.css" rel="stylesheet">
    </head>
    <body class="bg-dark bg-opacity-50">
    <include href="/nav/navbar.html"/>
    <div class="container-fluid">
        <include href="{{ @content }}"/>
    </div>


    <script src="/ui/js/lib/bootstrap.min.js"></script>
    <script src="/ui/js/lib/jquery.min.js"></script>
    <script src="/ui/js/base.js"></script>
    </body>
</html>